<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'shop' %}">Online Library</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Book Pack</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'shop' %}">Shop</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/">About</a>
        </li>
        <li class="nav-item">
          <!-- search option start -->
          <form action="{% url 'ProductSearch' %}" method="GET" class="form-inline">
            <input class="" type="text" value="{{mysearch}}" name="search" placeholder="Search" aria-label="Search">
            <input type="submit" value="Search">
          </form>
          <!-- search option end here --> 
        </li>
      </ul>
      

      {% comment %} second menu start {% endcomment %}
      <ul class="navbar-nav mx-5 mb-2 mb-lg-0">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'cart' %}">Cart  
              {% if request.session.cart %}
              <small class="badge bg-info"> {{request.session.cart.keys|length}} </small>
              {% else %}
              <small class="badge bg-danger"> 0 </small>
              {% endif %}
            </a>
        </li>
      {% if request.user.is_authenticated %}
      <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'orderView' %}">Order</a>
      </li>
      <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'profile' %}">{{request.user|upper}}</a>
      </li>
      <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'logout' %}">LogOut</a>
      </li>
      {% else %}
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'home' %}">About</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Account
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{% url 'login' %}">Login</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{% url 'signup' %}">SignUp</a></li>
          </ul>
        </li>
      {% endif %}
      </ul>
      {% comment %} second menu end {% endcomment %}
    </div>
  </div>
</nav>