<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- <iframe src="http://127.0.0.1:8000/media/bookpdf/en_stories_of_the_quran.pdf"> -->
       
        <!-- </iframe>  -->
        
        <embed name="5F791E036157D81ADC1E6AA0C300CB92" style="position:absolute; left: 0; top: 0;" width="100%" height="100%" src="{{pdf.url}}" type="application/pdf" internalid="5F791E036157D81ADC1E6AA0C300CB92">
</body>
</html>
